kaizen/
{{- if eq .chezmoi.os "darwin" }}
.var/app/org.wezfurlong.wezterm/
.config/niri/
.config/xremap/
.config/hypr/
.config/cava/
.config/noctalia/
.config/vicinae/
.config/systemd/
.config/autostart/
{{- $wm := dig "tiling" "wm" "yabai" . }}
{{- if ne $wm "yabai" }}
.config/yabai/
{{- end }}
{{- if and (ne $wm "yabai") (ne $wm "komorebi") }}
.config/skhd/
{{- end }}
{{- if ne $wm "aerospace" }}
.config/aerospace/
{{- end }}
{{- if ne $wm "glazewm" }}
.glzr/glazewm/
{{- end }}
{{- if ne $wm "komorebi" }}
.config/komorebi/
{{- end }}
{{- else if eq .chezmoi.os "linux" }}
.config/skhd/
.config/aerospace/
.config/karabiner/
.config/sketchybar/
.config/yabai/
.config/launchagents/
{{- end }}
