kaizen/
.config/mise.lock
.config/herdr/session.json
.config/herdr/*.log
.emacs.d/elpaca/
{{- if not (dig "features" "neovim" false .) }}
.config/nvim/
{{- end }}
{{- if not (dig "features" "vscodium" false .) }}
.config/VSCodium/
.var/app/com.vscodium.codium/
Library/Application Support/VSCodium/
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
.config/VSCodium/
.var/
.config/mango/
.config/niri/
.config/xremap/
.config/hypr/
.config/cava/
.config/noctalia/
.local/share/noctalia/
.config/systemd/
.config/autostart/
{{- $wm := dig "tiling" "variant" "yabai" . }}
{{- if ne $wm "yabai" }}
.config/yabai/
{{- end }}
{{- if and (ne $wm "yabai") (ne $wm "komorebi") }}
.config/skhd/
{{- end }}
{{- if ne $wm "aerospace" }}
.config/aerospace/
{{- end }}
{{- if ne $wm "glazewm" }}
.glzr/glazewm/
{{- end }}
{{- if ne $wm "komorebi" }}
.config/komorebi/
{{- end }}
{{- else if eq .chezmoi.os "linux" }}
Library/
.config/skhd/
.config/aerospace/
.config/karabiner/
.config/sketchybar/
.config/yabai/
.config/launchagents/
{{- $tiling := dig "features" "tiling" false . }}
{{- $wm := dig "tiling" "variant" "niri" . }}
{{- if or (not $tiling) (ne $wm "niri") }}
.config/niri/
{{- end }}
{{- if or (not $tiling) (ne $wm "mangowm") }}
.config/mango/
{{- end }}
{{- end }}
