{{- $wm := dig "tiling" "wm" "yabai" . -}}
{{- if eq $wm "komorebi" -}}
{{ include "dot_config/skhd/skhdrc-komorebi" }}
{{- else if eq .layout "colemak" -}}
{{ include "dot_config/skhd/skhdrc-colemak" }}
{{- else -}}
{{ include "dot_config/skhd/skhdrc-qwerty" }}
{{- end -}}
