{{- with .models }}
[models]
coder    = {{ .coder | quote }}
default  = {{ .default | quote }}
expert   = {{ .expert | quote }}
quick    = {{ .quick | quote }}
research = {{ .research | quote }}
reviewer = {{ .reviewer | quote }}
{{- end }}
