[Desktop Entry]
Name=Audacity 4
GenericName=Audio Editor (v4)
Comment=Record and edit audio files
Exec={{ .chezmoi.homeDir }}/.local/bin/audacity %F
TryExec={{ .chezmoi.homeDir }}/.local/bin/audacity
Icon=audacity4
Type=Application
Categories=AudioVideo;Audio;AudioVideoEditing;
StartupWMClass=Audacity 4
Terminal=false
MimeType=application/x-audacity;application/x-audacity-project;application/x-audacity-project+sqlite3;audio/basic;audio/x-aiff;audio/x-wav;audio/aac;audio/ac3;audio/mp4;audio/x-ms-wma;video/mpeg;audio/flac;audio/x-flac;audio/mpeg;application/ogg;audio/x-vorbis+ogg;
