env=QT_QPA_PLATFORM,wayland
env=GSK_RENDERER,ngl
env=GDK_DISABLE,dma-buf
env=WEBKIT_DISABLE_DMABUF_RENDERER,1
env=__EGL_VENDOR_LIBRARY_FILENAMES,/usr/share/glvnd/egl_vendor.d/50_mesa.json
env=__GLX_VENDOR_LIBRARY_NAME,mesa
env=LIBGL_DRIVERS_PATH,/usr/lib64/dri
env=GBM_BACKENDS_PATH,/usr/lib64/gbm
env=VDPAU_DRIVER_PATH,/usr/lib64/vdpau
env=VK_ICD_FILENAMES,/usr/share/vulkan/icd.d/asahi_icd.aarch64.json
env=VK_LAYER_PATH,/usr/share/vulkan/explicit_layer.d:/usr/share/vulkan/implicit_layer.d
env=WLR_RENDERER,gles2
env=WLR_RENDER_DRM_DEVICE,/dev/dri/renderD128
env=WLR_NO_HARDWARE_CURSORS,1
env=MESA_LOADER_DRIVER_OVERRIDE,asahi
env=LIBGL_ALWAYS_SOFTWARE,0
env=PATH,{{ .chezmoi.homeDir }}/.local/bin:{{ .chezmoi.homeDir }}/.local/share/mise/shims:/usr/local/bin:/usr/bin:/usr/sbin:/var/lib/snapd/snap/bin

exec-once=sh ~/.config/mango/autostart.sh

monitorrule=name:^HDMI-A-1$,width:3840,height:2160,refresh:60,x:0,y:0,scale:2,rr:0
monitorrule=name:^eDP-1$,width:3024,height:1964,refresh:60.004,x:0,y:1080,scale:2,rr:0

repeat_rate=25
repeat_delay=600
numlockon=1
xkb_rules_layout=us,ru
{{ if eq .layout "colemak" }}xkb_rules_variant=colemak,
{{ end }}xkb_rules_options=grp:caps_toggle,lv3:ralt_alt
mouse_accel_profile=2
mouse_accel_speed=0.0
trackpad_natural_scrolling=0
trackpad_accel_speed=0.0
trackpad_scroll_factor=1.0
tap_to_click=1
tap_and_drag=1
drag_lock=1
trackpad_disable_while_typing=0
swipe_min_threshold=1
gesture_live=1

sloppyfocus=1
warpcursor=0
focus_cross_monitor=1
exchange_cross_monitor=1
focus_cross_tag=1
allow_shortcuts_inhibit=0
xwayland_persistence=1

borderpx=2
gappih=16
gappiv=16
gappoh=16
gappov=16
border_radius=6
focuscolor=0xc4a7e7ff
urgentcolor=0xeb6f92ff
bordercolor=0x4b6386cc
rootcolor=0x232136ff
focused_opacity=0.96
unfocused_opacity=0.94
blur=0
shadows=0
no_border_when_single=0
smartgaps=0

animations=1
layer_animations=1
animation_type_open=slide
animation_type_close=slide
animation_fade_in=1
animation_fade_out=1
animation_duration_open=300
animation_duration_close=300
animation_duration_move=300
animation_duration_tag=250

scroller_structs=20
scroller_default_proportion=0.5
scroller_default_proportion_single=0.5
scroller_ignore_proportion_single=0
scroller_proportion_preset=0.333,0.5,0.667,1.0
scroller_focus_center=0
scroller_prefer_center=0
scroller_prefer_overspread=0
edge_scroller_pointer_focus=0
dwindle_split_ratio=0.5
dwindle_smart_split=1
dwindle_preserve_split=1
circle_layout=scroller,tile,dwindle
tag_num=9
tag_gather=0

{{ range $tag := list 1 2 3 4 5 6 7 8 9 }}tagrule=id:{{ $tag }},layout_name:scroller,no_hide:1
{{ end }}
windowrule=tags:1,appid:^(org\.telegram\.desktop|telegram-desktop|com\.mattermost\.Desktop|mattermost|discord|vesktop)$
windowrule=tags:2,appid:^(com\.mitchellh\.ghostty|org\.wezfurlong\.wezterm|Alacritty)$
windowrule=tags:3,appid:^(app\.zen_browser\.zen|zen|brave-browser|Brave-browser)$
windowrule=tags:4,appid:^(dev\.zed\.Zed|code|Code|emacs|Emacs)$
windowrule=isfloating:1,width:0.75,height:0.75,title:^(Open|Save|File Upload|Picture-in-Picture|Picture in picture)$
windowrule=isfloating:1,width:0.75,height:0.75,appid:^(org\.gnome\.Nautilus|org\.pulseaudio\.pavucontrol|blueman-manager)$
windowrule=isfloating:1,width:0.7,height:0.8,appid:^zen$,title:^Extension:
layerrule=noanim:1,noblur:1,layer_name:selection

keymode=common
bind=CTRL+SUPER+ALT+SHIFT,r,reload_config
bind=CTRL+ALT+SHIFT,q,quit
bind=CTRL+ALT,Delete,quit
bind=SUPER+ALT,l,spawn,noctalia msg session lock
bind=SUPER,b,spawn,noctalia msg bar-toggle
bind=ALT,space,spawn,vicinae toggle
bind=ALT,Tab,spawn,vicinae vicinae://launch/wm/switch-windows?toggle=true
bind=SUPER,space,spawn,vicinae vicinae://launch/clipboard/history?toggle=true
bind=SUPER+SHIFT,space,spawn,vicinae vicinae://launch/core/search-emojis?toggle=true
bind=ALT+SHIFT,Return,spawn,ghostty
bind=SUPER+ALT+SHIFT,Return,spawn,wezterm
bind=NONE,XF86AudioRaiseVolume,spawn,wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%+
bind=NONE,XF86AudioLowerVolume,spawn,wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%-
bind=NONE,XF86AudioMute,spawn,wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle
bind=NONE,XF86AudioMicMute,spawn,wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle
bind=NONE,XF86AudioPlay,spawn,playerctl play-pause
bind=NONE,XF86AudioStop,spawn,playerctl stop
bind=NONE,XF86AudioPrev,spawn,playerctl previous
bind=NONE,XF86AudioNext,spawn,playerctl next
bind=NONE,XF86MonBrightnessUp,spawn,brightnessctl set +5%
bind=NONE,XF86MonBrightnessDown,spawn,brightnessctl set 5%-
bind=NONE,Print,spawn_shell,mkdir -p "$HOME/Pictures/Screenshots" && grim "$HOME/Pictures/Screenshots/$(date +'%Y-%m-%d_%H-%M-%S').png"
bind=SHIFT,Print,spawn_shell,grim -g "$(slurp)" - | satty --filename -
bind=CTRL+SHIFT,x,spawn_shell,grim -g "$(slurp)" - | satty --filename -
bind=CTRL+SHIFT,1,spawn_shell,grim - | satty --filename -
bind=CTRL+SHIFT,2,spawn_shell,grim -g "$(slurp)" - | satty --filename -
bind=SUPER+SHIFT,x,spawn_shell,grim -g "$(slurp)" - | satty --filename -
bind=CTRL+SUPER,1,spawn_shell,grim - | satty --filename -
bind=CTRL+SUPER,2,spawn_shell,grim -g "$(slurp)" - | satty --filename -
bind=SUPER+ALT,v,spawn_shell,cliphist list | vicinae dmenu --placeholder "Clipboard" | cliphist decode | wl-copy
bind=SUPER+ALT,period,spawn_shell,vicinae dmenu --placeholder "Emoji" | wl-copy
bind=CTRL,backslash,spawn_shell,hyprvoice toggle
bind=CTRL+SHIFT,backslash,spawn,handy --toggle-transcription
bind=CTRL+ALT+SHIFT,i,spawn,wallboy next
bind=CTRL+ALT+SHIFT,d,spawn,wallboy save
bind=CTRL+ALT+SHIFT,o,spawn,wallboy open
bind=SUPER+SHIFT,r,spawn_shell,pkill wf-recorder || wf-recorder -g "$(slurp)" -f "$HOME/Videos/recording-$(date +%Y%m%d-%H%M%S).mp4"
gesturebind=NONE,left,3,focusdir,left
gesturebind=NONE,right,3,focusdir,right
gesturebind=NONE,up,3,focusdir,up
gesturebind=NONE,down,3,focusdir,down
gesturebind=NONE,right,4,viewtoleft,0
gesturebind=NONE,left,4,viewtoright,0
gesturebind=NONE,up,4,toggleoverview
gesturebind=NONE,down,4,toggleoverview

keymode=default
bind=ALT+SHIFT,q,killclient
bind=ALT+SHIFT,f,togglemaximizescreen
bind=SUPER+ALT+SHIFT,f,togglefullscreen
bindc=ALT+SHIFT,c,togglefloating
bindc=ALT+SHIFT,c,centerwin
bind=ALT+SHIFT,v,switch_layout
bind=ALT+SHIFT,slash,setlayout,scroller
bind=ALT+SHIFT,comma,setlayout,tile
bind=ALT+SHIFT,period,setlayout,dwindle
bind=SUPER+ALT+SHIFT,space,togglefloating
bind=ALT+SHIFT,left,viewtoleft
bind=ALT+SHIFT,right,viewtoright
bind=SUPER+ALT+SHIFT,left,tagtoleft
bind=SUPER+ALT+SHIFT,right,tagtoright
bind=CTRL+SUPER+ALT+SHIFT,1,set_proportion,0.333
bind=CTRL+SUPER+ALT+SHIFT,2,set_proportion,0.5
bind=CTRL+SUPER+ALT+SHIFT,3,set_proportion,0.667
bind=CTRL+SUPER+ALT+SHIFT,0,set_proportion,1.0

{{ if eq .layout "colemak" }}bind=ALT+SHIFT,h,focus_window_or_workspace,left
bind=ALT+SHIFT,n,focusstack,next
bind=ALT+SHIFT,e,focusstack,prev
bind=ALT+SHIFT,i,focus_window_or_workspace,right
bind=SUPER+ALT+SHIFT,h,move_client,left
bind=SUPER+ALT+SHIFT,n,move_client,down
bind=SUPER+ALT+SHIFT,e,move_client,up
bind=SUPER+ALT+SHIFT,i,move_client,right
bind=CTRL+SUPER+ALT+SHIFT,h,smartresizewin,left
bind=CTRL+SUPER+ALT+SHIFT,n,smartresizewin,down
bind=CTRL+SUPER+ALT+SHIFT,e,smartresizewin,up
bind=CTRL+SUPER+ALT+SHIFT,i,smartresizewin,right
bind=ALT+SHIFT,s,view,1
bind=ALT+SHIFT,t,view,2
bind=ALT+SHIFT,w,view,3
bind=ALT+SHIFT,d,view,4
bind=ALT+SHIFT,o,view,5
bind=ALT+SHIFT,r,view,6
bind=ALT+SHIFT,u,view,7
bind=ALT+SHIFT,l,view,8
bind=ALT+SHIFT,a,view,9
bind=SUPER+ALT+SHIFT,s,tag,1
bind=SUPER+ALT+SHIFT,t,tag,2
bind=SUPER+ALT+SHIFT,w,tag,3
bind=SUPER+ALT+SHIFT,d,tag,4
bind=SUPER+ALT+SHIFT,o,tag,5
bind=SUPER+ALT+SHIFT,r,tag,6
bind=SUPER+ALT+SHIFT,u,tag,7
bind=SUPER+ALT+SHIFT,l,tag,8
bind=SUPER+ALT+SHIFT,a,tag,9
{{ else }}bind=ALT+SHIFT,h,focus_window_or_workspace,left
bind=ALT+SHIFT,j,focusstack,next
bind=ALT+SHIFT,k,focusstack,prev
bind=ALT+SHIFT,l,focus_window_or_workspace,right
bind=SUPER+ALT+SHIFT,h,move_client,left
bind=SUPER+ALT+SHIFT,j,move_client,down
bind=SUPER+ALT+SHIFT,k,move_client,up
bind=SUPER+ALT+SHIFT,l,move_client,right
bind=CTRL+SUPER+ALT+SHIFT,h,smartresizewin,left
bind=CTRL+SUPER+ALT+SHIFT,j,smartresizewin,down
bind=CTRL+SUPER+ALT+SHIFT,k,smartresizewin,up
bind=CTRL+SUPER+ALT+SHIFT,l,smartresizewin,right
bind=ALT+SHIFT,s,view,1
bind=ALT+SHIFT,t,view,2
bind=ALT+SHIFT,w,view,3
bind=ALT+SHIFT,d,view,4
bind=ALT+SHIFT,i,view,5
bind=ALT+SHIFT,e,view,6
bind=ALT+SHIFT,x,view,7
bind=ALT+SHIFT,u,view,8
bind=ALT+SHIFT,a,view,9
bind=SUPER+ALT+SHIFT,s,tag,1
bind=SUPER+ALT+SHIFT,t,tag,2
bind=SUPER+ALT+SHIFT,w,tag,3
bind=SUPER+ALT+SHIFT,d,tag,4
bind=SUPER+ALT+SHIFT,i,tag,5
bind=SUPER+ALT+SHIFT,e,tag,6
bind=SUPER+ALT+SHIFT,x,tag,7
bind=SUPER+ALT+SHIFT,u,tag,8
bind=SUPER+ALT+SHIFT,a,tag,9
{{ end }}
{{ range $tag := list 1 2 3 4 5 6 7 8 9 }}bind=ALT+SHIFT,{{ $tag }},view,{{ $tag }}
bind=SUPER+ALT+SHIFT,{{ $tag }},tag,{{ $tag }}
{{ end }}
source-optional=~/.config/mango/noctalia.conf
