{{- $mod := "ctrl" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   $mod = "cmd" }}
{{- end }}
[
  {
    "key": "] g",
    "command": "workbench.action.compareEditor.nextChange",
    "when": "isInDiffEditor && vim.active && vim.mode == 'Normal'"
  },
  {
    "key": "[ g",
    "command": "workbench.action.compareEditor.previousChange",
    "when": "isInDiffEditor && vim.active && vim.mode == 'Normal'"
  },
  {
    "key": "] c",
    "command": "workbench.action.compareEditor.nextChange",
    "when": "isInDiffEditor && vim.active && vim.mode == 'Normal'"
  },
  {
    "key": "[ c",
    "command": "workbench.action.compareEditor.previousChange",
    "when": "isInDiffEditor && vim.active && vim.mode == 'Normal'"
  },
  {
    "key": "ctrl+n",
    "command": "selectNextSuggestion",
    "when": "suggestWidgetVisible && vim.active"
  },
  {
    "key": "ctrl+e",
    "command": "selectPrevSuggestion",
    "when": "suggestWidgetVisible && vim.active"
  },
  {
    "key": "ctrl+n",
    "command": "workbench.action.quickOpenSelectNext",
    "when": "inQuickOpen && vim.active"
  },
  {
    "key": "ctrl+e",
    "command": "workbench.action.quickOpenSelectPrevious",
    "when": "inQuickOpen && vim.active"
  },
  {
    "key": "{{ $mod }}+.",
    "command": "-editor.changeDropType"
  },
  {
    "key": "{{ $mod }}+.",
    "command": "-editor.changePasteType"
  },
  {
    "key": "{{ $mod }}+.",
    "command": "-workbench.action.chat.openModePicker"
  },
  {
    "key": "{{ $mod }}+[Period]",
    "command": "workbench.action.focusNextGroup",
    "when": "vim.active"
  },
  {
    "key": "shift+{{ $mod }}+[Period]",
    "command": "workbench.action.focusPreviousGroup",
    "when": "vim.active"
  }
]
