{{- $colemakRebinds := eq .layout "colemak" -}}
{{- $navDown := "<C-j>" -}}
{{- $navUp := "<C-k>" -}}
{{- $windowDown := "j" -}}
{{- $windowUp := "k" -}}
{{- $windowRight := "l" -}}
{{- if $colemakRebinds -}}
{{-   $navDown = "<C-n>" -}}
{{-   $navUp = "<C-e>" -}}
{{-   $windowDown = "n" -}}
{{-   $windowUp = "e" -}}
{{-   $windowRight = "i" -}}
{{- end -}}
{
  "vim.disableExtension": false,
  "vim.leader": "<space>",
  "vim.useSystemClipboard": true,
  "vim.useCtrlKeys": true,
  "vim.hlsearch": true,
  "vim.incsearch": true,
  "vim.ignorecase": true,
  "vim.smartcase": true,
  "vim.easymotion": true,
  "vim.sneak": false,
  "vim.showcmd": true,
  "vim.showmodename": true,
  "vim.statusBarColorControl": false,
{{- if eq .layout "qwerty" }}
  "vim.langmap": "й;q,ц;w,у;e,к;r,е;t,н;y,г;u,ш;i,щ;o,з;p,ф;a,ы;s,в;d,а;f,п;g,р;h,о;j,л;k,д;l,я;z,ч;x,с;c,м;v,и;b,т;n,ь;m",
{{- else }}
  "vim.langmap": "й;q,ц;w,у;f,к;p,е;g,н;j,г;l,ш;u,щ;y,з;\\;,ф;a,ы;r,в;s,а;t,п;d,р;h,о;n,л;e,д;i,ж;o,я;z,ч;x,с;c,м;v,и;b,т;k,ь;m",
{{- end }}
  "vim.normalModeKeyBindingsNonRecursive": [
{{- if $colemakRebinds }}
    {
      "before": ["n"],
      "after": ["g", "j"],
      "silent": true,
    },
    {
      "before": ["e"],
      "after": ["g", "k"],
      "silent": true,
    },
    {
      "before": ["i"],
      "after": ["l"],
      "silent": true,
    },
    {
      "before": ["l"],
      "after": ["i"],
      "silent": true,
    },
    {
      "before": ["L"],
      "after": ["I"],
      "silent": true,
    },
    {
      "before": ["j"],
      "after": ["e"],
      "silent": true,
    },
    {
      "before": ["J"],
      "after": ["E"],
      "silent": true,
    },
    {
      "before": ["k"],
      "after": ["n"],
      "silent": true,
    },
    {
      "before": ["K"],
      "after": ["N"],
      "silent": true,
    },
    {
      "before": ["E"],
      "commands": ["editor.action.showHover"],
      "silent": true,
    },
{{- end }}
    {
      "before": ["m", "i"],
      "after": ["v", "i"],
      "silent": true,
    },
    {
      "before": ["m", "a"],
      "after": ["v", "a"],
      "silent": true,
    },
    {
      "before": ["+"],
      "commands": ["editor.action.smartSelect.expand"],
      "silent": true,
    },
    {
      "before": ["-"],
      "commands": ["editor.action.smartSelect.shrink"],
      "silent": true,
    },
    {
      "before": ["x"],
      "after": ["V"],
      "silent": true,
    },
    {
      "before": ["m", "m"],
      "after": ["%"],
      "silent": true,
    },
    {
      "before": ["c"],
      "after": ["\"", "_", "c"],
      "silent": true,
    },
    {
      "before": ["C"],
      "after": ["\"", "_", "C"],
      "silent": true,
    },
    {
      "before": ["c", "c"],
      "after": ["\"", "_", "c", "c"],
      "silent": true,
    },
    {
      "before": ["d"],
      "after": ["x"],
      "silent": true,
    },
    {
      "before": ["U"],
      "after": ["<C-r>"],
      "silent": true,
    },
    {
      "before": ["f"],
      "after": ["<leader>", "<leader>", "<leader>", "b", "d", "w"],
      "silent": true,
    },
    {
      "before": ["F"],
      "after": ["<leader>", "<leader>", "s"],
      "silent": true,
    },
    {
      "before": ["{{ $navDown }}"],
      "commands": ["editor.action.marker.next"],
      "silent": true,
    },
    {
      "before": ["{{ $navUp }}"],
      "commands": ["editor.action.marker.prev"],
      "silent": true,
    },
    {
      "before": ["]", "d"],
      "commands": ["editor.action.marker.next"],
      "silent": true,
    },
    {
      "before": ["[", "d"],
      "commands": ["editor.action.marker.prev"],
      "silent": true,
    },
    {
      "before": ["]", "b"],
      "commands": ["workbench.action.nextEditor"],
      "silent": true,
    },
    {
      "before": ["[", "b"],
      "commands": ["workbench.action.previousEditor"],
      "silent": true,
    },
    {
      "before": ["<M-]>"],
      "commands": ["workbench.action.nextEditor"],
      "silent": true,
    },
    {
      "before": ["<M-[>"],
      "commands": ["workbench.action.previousEditor"],
      "silent": true,
    },
    {
      "before": ["]", "g"],
      "commands": ["workbench.action.editor.nextChange"],
      "silent": true,
    },
    {
      "before": ["[", "g"],
      "commands": ["workbench.action.editor.previousChange"],
      "silent": true,
    },
    {
      "before": ["]", "c"],
      "commands": ["workbench.action.editor.nextChange"],
      "silent": true,
    },
    {
      "before": ["[", "c"],
      "commands": ["workbench.action.editor.previousChange"],
      "silent": true,
    },
    {
      "before": ["]", "m"],
      "commands": ["bookmarks.jumpToNext"],
      "silent": true,
    },
    {
      "before": ["[", "m"],
      "commands": ["bookmarks.jumpToPrevious"],
      "silent": true,
    },
    {
      "before": ["g", "d"],
      "commands": ["editor.action.revealDefinition"],
      "silent": true,
    },
    {
      "before": ["g", "r"],
      "commands": ["editor.action.goToReferences"],
      "silent": true,
    },
    {
      "before": ["g", "i"],
      "commands": ["editor.action.goToImplementation"],
      "silent": true,
    },
    {
      "before": ["g", "t"],
      "commands": ["editor.action.goToTypeDefinition"],
      "silent": true,
    },
    {
      "before": ["g", "D"],
      "commands": ["editor.action.revealDefinitionAside"],
      "silent": true,
    },
    {
      "before": ["<C-w>", "h"],
      "commands": ["workbench.action.focusLeftGroup"],
      "silent": true,
    },
    {
      "before": ["<C-w>", "{{ $windowDown }}"],
      "commands": ["workbench.action.focusBelowGroup"],
      "silent": true,
    },
    {
      "before": ["<C-w>", "{{ $windowUp }}"],
      "commands": ["workbench.action.focusAboveGroup"],
      "silent": true,
    },
    {
      "before": ["<C-w>", "{{ $windowRight }}"],
      "commands": ["workbench.action.focusRightGroup"],
      "silent": true,
    },
    {
      "before": ["<leader>", "?"],
      "commands": ["whichkey.show"],
      "silent": true,
    },
    {
      "before": ["<leader>", "p", "p"],
      "commands": ["projectManager.listProjects"],
      "silent": true,
    },
    {
      "before": ["<leader>", "p", "n"],
      "commands": ["projectManager.listProjectsNewWindow"],
      "silent": true,
    },
    {
      "before": ["<leader>", "p", "s"],
      "commands": ["projectManager.saveProject"],
      "silent": true,
    },
    {
      "before": ["<leader>", "f", "f"],
      "commands": ["workbench.action.quickOpen"],
      "silent": true,
    },
    {
      "before": ["<leader>", "f", "r"],
      "commands": ["workbench.action.showAllEditorsByMostRecentlyUsed"],
      "silent": true,
    },
    {
      "before": ["<leader>", "f", "R"],
      "commands": ["workbench.action.openRecent"],
      "silent": true,
    },
    {
      "before": ["<leader>", "f", "s"],
      "commands": ["workbench.action.files.save"],
      "silent": true,
    },
    {
      "before": ["<leader>", "f", "n"],
      "commands": ["workbench.action.files.newUntitledFile"],
      "silent": true,
    },
    {
      "before": ["<leader>", "/"],
      "commands": ["workbench.action.findInFiles"],
      "silent": true,
    },
    {
      "before": ["<leader>", "*"],
      "commands": ["workbench.action.findInFiles"],
      "silent": true,
    },
    {
      "before": ["<leader>", "b", "b"],
      "commands": ["workbench.action.showAllEditorsByMostRecentlyUsed"],
      "silent": true,
    },
    {
      "before": ["<leader>", "b", "n"],
      "commands": ["workbench.action.nextEditor"],
      "silent": true,
    },
    {
      "before": ["<leader>", "b", "p"],
      "commands": ["workbench.action.previousEditor"],
      "silent": true,
    },
    {
      "before": ["<leader>", "b", "d"],
      "commands": ["workbench.action.closeActiveEditor"],
      "silent": true,
    },
    {
      "before": ["<leader>", "b", "o"],
      "commands": ["workbench.action.closeOtherEditors"],
      "silent": true,
    },
    {
      "before": ["<leader>", "["],
      "commands": ["workbench.action.previousEditor"],
      "silent": true,
    },
    {
      "before": ["<leader>", "]"],
      "commands": ["workbench.action.nextEditor"],
      "silent": true,
    },
    {
      "before": ["<leader>", "q"],
      "commands": ["workbench.action.closeActiveEditor"],
      "silent": true,
    },
    {
      "before": ["<leader>", "x"],
      "commands": ["workbench.action.closeActiveEditor"],
      "silent": true,
    },
    {
      "before": ["<leader>", "Q"],
      "commands": ["workbench.action.closeAllEditors"],
      "silent": true,
    },
    {
      "before": ["<leader>", "."],
      "commands": ["workbench.view.explorer"],
      "silent": true,
    },
    {
      "before": ["<leader>", "w", "v"],
      "commands": ["workbench.action.splitEditorRight"],
      "silent": true,
    },
    {
      "before": ["<leader>", "w", "h"],
      "commands": ["workbench.action.splitEditorDown"],
      "silent": true,
    },
    {
      "before": ["<leader>", "w", "f"],
      "commands": ["workbench.action.toggleMaximizeEditorGroup"],
      "silent": true,
    },
    {
      "before": ["<leader>", "w", "r"],
      "commands": ["workbench.action.toggleEditorGroupLayout"],
      "silent": true,
    },
    {
      "before": ["<leader>", "l", "a"],
      "commands": ["editor.action.quickFix"],
      "silent": true,
    },
    {
      "before": ["<leader>", "l", "r"],
      "commands": ["editor.action.rename"],
      "silent": true,
    },
    {
      "before": ["<leader>", "l", "h"],
      "commands": ["editor.action.showHover"],
      "silent": true,
    },
    {
      "before": ["<leader>", "l", "f"],
      "commands": ["editor.action.formatDocument"],
      "silent": true,
    },
    {
      "before": ["<leader>", "l", "s"],
      "commands": ["workbench.action.gotoSymbol"],
      "silent": true,
    },
    {
      "before": ["<leader>", "l", "S"],
      "commands": ["workbench.action.showAllSymbols"],
      "silent": true,
    },
    {
      "before": ["<leader>", "l", "d"],
      "commands": ["workbench.actions.view.problems"],
      "silent": true,
    },
    {
      "before": ["<leader>", "m", "a"],
      "commands": ["bookmarks.toggle"],
      "silent": true,
    },
    {
      "before": ["<leader>", "m", "m"],
      "commands": ["bookmarks.listFromAllFiles"],
      "silent": true,
    },
    {
      "before": ["<leader>", "v", "l"],
      "commands": ["workbench.view.scm"],
      "silent": true,
    },
    {
      "before": ["<leader>", "v", "c"],
      "commands": ["workbench.view.scm"],
      "silent": true,
    },
    {
      "before": ["<leader>", "v", "h"],
      "commands": ["timeline.focus"],
      "silent": true,
    },
    {
      "before": ["<leader>", "v", "j"],
      "commands": ["workbench.action.quickOpenView"],
      "silent": true,
    },
    {
      "before": ["<leader>", "d", "c"],
      "commands": ["workbench.action.debug.continue"],
      "silent": true,
    },
    {
      "before": ["<leader>", "d", "b"],
      "commands": ["editor.debug.action.toggleBreakpoint"],
      "silent": true,
    },
    {
      "before": ["<leader>", "d", "B"],
      "commands": ["editor.debug.action.conditionalBreakpoint"],
      "silent": true,
    },
    {
      "before": ["<leader>", "d", "n"],
      "commands": ["workbench.action.debug.stepOver"],
      "silent": true,
    },
    {
      "before": ["<leader>", "d", "i"],
      "commands": ["workbench.action.debug.stepInto"],
      "silent": true,
    },
    {
      "before": ["<leader>", "d", "o"],
      "commands": ["workbench.action.debug.stepOut"],
      "silent": true,
    },
    {
      "before": ["<leader>", "d", "q"],
      "commands": ["workbench.action.debug.stop"],
      "silent": true,
    },
    {
      "before": ["<leader>", "d", "v"],
      "commands": ["workbench.view.debug"],
      "silent": true,
    },
    {
      "before": ["<leader>", "d", "r"],
      "commands": ["workbench.debug.action.focusRepl"],
      "silent": true,
    },
    {
      "before": ["<leader>", "r", "t"],
      "commands": ["workbench.action.tasks.runTask"],
      "silent": true,
    },
    {
      "before": ["<leader>", "r", "r"],
      "commands": ["workbench.action.tasks.reRunTask"],
      "silent": true,
    },
    {
      "before": ["<leader>", "h", "c"],
      "commands": ["workbench.action.showCommands"],
      "silent": true,
    },
    {
      "before": ["<leader>", "h", "h"],
      "commands": ["workbench.action.openGlobalKeybindings"],
      "silent": true,
    },
  ],
  "vim.visualModeKeyBindingsNonRecursive": [
{{- if $colemakRebinds }}
    {
      "before": ["n"],
      "after": ["g", "j"],
      "silent": true,
    },
    {
      "before": ["e"],
      "after": ["g", "k"],
      "silent": true,
    },
    {
      "before": ["i"],
      "after": ["l"],
      "silent": true,
    },
    {
      "before": ["j"],
      "after": ["e"],
      "silent": true,
    },
    {
      "before": ["J"],
      "after": ["E"],
      "silent": true,
    },
    {
      "before": ["k"],
      "after": ["n"],
      "silent": true,
    },
    {
      "before": ["K"],
      "after": ["N"],
      "silent": true,
    },
{{- end }}
    {
      "before": ["m", "i"],
      "after": ["i"],
      "silent": true,
    },
    {
      "before": ["m", "a"],
      "after": ["a"],
      "silent": true,
    },
    {
      "before": ["+"],
      "commands": ["editor.action.smartSelect.expand"],
      "silent": true,
    },
    {
      "before": ["-"],
      "commands": ["editor.action.smartSelect.shrink"],
      "silent": true,
    },
    {
      "before": ["x"],
      "after": ["j"],
      "silent": true,
    },
    {
      "before": ["X"],
      "after": ["k"],
      "silent": true,
    },
    {
      "before": ["p"],
      "after": ["\"", "_", "d", "P"],
      "silent": true,
    },
    {
      "before": ["c"],
      "after": ["\"", "_", "c"],
      "silent": true,
    },
    {
      "before": ["<leader>", "/"],
      "commands": ["workbench.action.findInFiles"],
      "silent": true,
    },
    {
      "before": ["<leader>", "l", "a"],
      "commands": ["editor.action.quickFix"],
      "silent": true,
    },
    {
      "before": ["<leader>", "l", "r"],
      "commands": ["editor.action.rename"],
      "silent": true,
    },
    {
      "before": ["<leader>", "l", "h"],
      "commands": ["editor.action.showHover"],
      "silent": true,
    },
  ],
  "vim.insertModeKeyBindingsNonRecursive": [
    {
      "before": ["{{ $navDown }}"],
      "commands": ["selectNextSuggestion"],
      "silent": true,
    },
    {
      "before": ["{{ $navUp }}"],
      "commands": ["selectPrevSuggestion"],
      "silent": true,
    },
  ],
  "vim.handleKeys": {
    "<D-a>": false,
    "<D-b>": false,
    "<D-c>": false,
    "<D-f>": false,
    "<D-j>": false,
    "<D-n>": false,
    "<D-p>": false,
    "<D-s>": false,
    "<D-v>": false,
    "<D-w>": false,
    "<D-x>": false,
    "<D-z>": false,
  },
  "extensions.experimental.affinity": {
    "vscodevim.vim": 1,
  },
  "keyboard.dispatch": "keyCode",
  "whichkey.sortOrder": "alphabetically",
  "whichkey.delay": 250,
  "whichkey.bindings": [
    {
      "key": "?",
      "name": "Keymaps",
      "type": "command",
      "command": "whichkey.searchBindings",
    },
    {
      "key": "/",
      "name": "Search project",
      "type": "command",
      "command": "workbench.action.findInFiles",
    },
    {
      "key": ".",
      "name": "Explorer",
      "type": "command",
      "command": "workbench.view.explorer",
    },
    {
      "key": "p",
      "name": "Projects",
      "type": "bindings",
      "bindings": [
        {
          "key": "p",
          "name": "Open project",
          "type": "command",
          "command": "projectManager.listProjects",
        },
        {
          "key": "n",
          "name": "Open project in new window",
          "type": "command",
          "command": "projectManager.listProjectsNewWindow",
        },
        {
          "key": "s",
          "name": "Save current project",
          "type": "command",
          "command": "projectManager.saveProject",
        },
      ],
    },
    {
      "key": "b",
      "name": "Buffers",
      "type": "bindings",
      "bindings": [
        {
          "key": "b",
          "name": "Switch buffer",
          "type": "command",
          "command": "workbench.action.showAllEditorsByMostRecentlyUsed",
        },
        {
          "key": "n",
          "name": "Next buffer",
          "type": "command",
          "command": "workbench.action.nextEditor",
        },
        {
          "key": "p",
          "name": "Previous buffer",
          "type": "command",
          "command": "workbench.action.previousEditor",
        },
        {
          "key": "d",
          "name": "Close buffer",
          "type": "command",
          "command": "workbench.action.closeActiveEditor",
        },
      ],
    },
    {
      "key": "f",
      "name": "Files",
      "type": "bindings",
      "bindings": [
        {
          "key": "f",
          "name": "Find project file",
          "type": "command",
          "command": "workbench.action.quickOpen",
        },
        {
          "key": "r",
          "name": "Recent/open editors",
          "type": "command",
          "command": "workbench.action.showAllEditorsByMostRecentlyUsed",
        },
        {
          "key": "R",
          "name": "Open recent",
          "type": "command",
          "command": "workbench.action.openRecent",
        },
      ],
    },
    {
      "key": "l",
      "name": "LSP",
      "type": "bindings",
      "bindings": [
        {
          "key": "a",
          "name": "Code action",
          "type": "command",
          "command": "editor.action.quickFix",
        },
        {
          "key": "r",
          "name": "Rename",
          "type": "command",
          "command": "editor.action.rename",
        },
        {
          "key": "h",
          "name": "Hover",
          "type": "command",
          "command": "editor.action.showHover",
        },
        {
          "key": "f",
          "name": "Format",
          "type": "command",
          "command": "editor.action.formatDocument",
        },
        {
          "key": "s",
          "name": "Document symbols",
          "type": "command",
          "command": "workbench.action.gotoSymbol",
        },
        {
          "key": "S",
          "name": "Workspace symbols",
          "type": "command",
          "command": "workbench.action.showAllSymbols",
        },
        {
          "key": "d",
          "name": "Diagnostics",
          "type": "command",
          "command": "workbench.actions.view.problems",
        },
      ],
    },
    {
      "key": "w",
      "name": "Windows",
      "type": "bindings",
      "bindings": [
        {
          "key": "v",
          "name": "Split right",
          "type": "command",
          "command": "workbench.action.splitEditorRight",
        },
        {
          "key": "h",
          "name": "Split below",
          "type": "command",
          "command": "workbench.action.splitEditorDown",
        },
        {
          "key": "f",
          "name": "Toggle maximize",
          "type": "command",
          "command": "workbench.action.toggleMaximizeEditorGroup",
        },
        {
          "key": "r",
          "name": "Toggle layout",
          "type": "command",
          "command": "workbench.action.toggleEditorGroupLayout",
        },
      ],
    },
    {
      "key": "m",
      "name": "Marks",
      "type": "bindings",
      "bindings": [
        {
          "key": "a",
          "name": "Toggle bookmark",
          "type": "command",
          "command": "bookmarks.toggle",
        },
        {
          "key": "m",
          "name": "List bookmarks",
          "type": "command",
          "command": "bookmarks.listFromAllFiles",
        },
      ],
    },
    {
      "key": "v",
      "name": "VCS",
      "type": "bindings",
      "bindings": [
        {
          "key": "l",
          "name": "Source control",
          "type": "command",
          "command": "workbench.view.scm",
        },
        {
          "key": "c",
          "name": "Changed files",
          "type": "command",
          "command": "workbench.view.scm",
        },
        {
          "key": "h",
          "name": "Timeline/history",
          "type": "command",
          "command": "timeline.focus",
        },
        {
          "key": "j",
          "name": "Views / VisualJJ",
          "type": "command",
          "command": "workbench.action.quickOpenView",
        },
      ],
    },
    {
      "key": "d",
      "name": "Debug",
      "type": "bindings",
      "bindings": [
        {
          "key": "c",
          "name": "Continue",
          "type": "command",
          "command": "workbench.action.debug.continue",
        },
        {
          "key": "b",
          "name": "Breakpoint",
          "type": "command",
          "command": "editor.debug.action.toggleBreakpoint",
        },
        {
          "key": "n",
          "name": "Step over",
          "type": "command",
          "command": "workbench.action.debug.stepOver",
        },
        {
          "key": "i",
          "name": "Step into",
          "type": "command",
          "command": "workbench.action.debug.stepInto",
        },
        {
          "key": "o",
          "name": "Step out",
          "type": "command",
          "command": "workbench.action.debug.stepOut",
        },
        {
          "key": "q",
          "name": "Stop",
          "type": "command",
          "command": "workbench.action.debug.stop",
        },
      ],
    },
  ],
  "projectManager.sortList": "Recent",
  "projectManager.groupList": false,
  "projectManager.removeCurrentProjectFromList": true,
  "projectManager.showProjectNameInStatusBar": false,
  "projectManager.git.showBranchName": "never",
  "projectManager.git.baseFolders": ["~/projects"],
  "projectManager.git.maxDepthRecursion": 4,
  "bookmarks.navigateThroughAllFiles": true,
  "bookmarks.wrapNavigation": true,
  "bookmarks.sideBar.hideWelcome": true,
  "bookmarks.sideBar.countBadge": "off",
  "window.autoDetectColorScheme": true,
  "workbench.preferredDarkColorTheme": "Catppuccin Mocha",
  "workbench.preferredLightColorTheme": "Catppuccin Latte",
  "workbench.colorTheme": "Catppuccin Mocha",
  "workbench.iconTheme": "catppuccin-mocha",
  "window.titleBarStyle": "custom",
  "window.customTitleBarVisibility": "auto",
  "window.commandCenter": false,
  "window.title": "${activeEditorShort}",
  "workbench.navigationControl.enabled": true,
  "workbench.layoutControl.enabled": false,
  "workbench.activityBar.location": "top",
  "workbench.sideBar.location": "left",
  "workbench.editor.showTabs": "none",
  "workbench.editor.editorActionsLocation": "hidden",
  "workbench.editor.enablePreview": false,
  "workbench.editor.enablePreviewFromQuickOpen": false,
  "workbench.startupEditor": "none",
  "workbench.statusBar.visible": true,
  "editor.lineNumbers": "off",
  "editor.minimap.enabled": false,
  "editor.stickyScroll.enabled": false,
  "editor.codeLens": false,
  "editor.inlayHints.enabled": "offUnlessPressed",
  "editor.bracketPairColorization.enabled": false,
  "editor.guides.indentation": false,
  "editor.guides.bracketPairs": false,
  "editor.scrollBeyondLastLine": false,
  "editor.overviewRulerBorder": false,
  "editor.hideCursorInOverviewRuler": true,
  "editor.renderWhitespace": "selection",
  "workbench.tree.enableStickyScroll": false,
  "workbench.tree.renderIndentGuides": "none",
  "breadcrumbs.enabled": false,
  "editor.tabSize": 2,
  "editor.insertSpaces": true,
  "editor.detectIndentation": true,
  "editor.formatOnSave": true,
  "files.autoSave": "onFocusChange",
  "files.trimTrailingWhitespace": true,
  "files.insertFinalNewline": true,
  "diffEditor.ignoreTrimWhitespace": false,
  "diffEditor.renderSideBySide": false,
  "scm.diffDecorations": "all",
  "errorLens.enabled": false,
  "errorLens.messageEnabled": false,
  "errorLens.gutterIconsEnabled": false,
  "errorLens.problemRangeDecorationEnabled": false,
  "terminal.integrated.minimumContrastRatio": 1,
  "telemetry.telemetryLevel": "off",
  "git-graph-libre.telemetry.enabled": "disabled",
  "githubPullRequests.hideViewedFiles": true,
}
